In [7]:
# load data

import kagglehub

# Download latest version
path = kagglehub.dataset_download("saurav9786/cardiogoodfitness")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\bashi\.cache\kagglehub\datasets\saurav9786\cardiogoodfitness\versions\1

In [8]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# Load the dataset
cardio_data = pd.read_csv(path + "/CardioGoodFitness.csv")

In [9]:
# Display the first 5 rows of the dataset
cardio_data.head(5)

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [10]:
# how big is the dataset?
print("Shape of the dataset:", cardio_data.shape)
# Display the data types of each column
print("Data types of each column:\n", cardio_data.info())

Shape of the dataset: (180, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        180 non-null    object
 1   Age            180 non-null    int64
 2   Gender         180 non-null    object
 3   Education      180 non-null    int64
 4   MaritalStatus  180 non-null    object
 5   Usage          180 non-null    int64
 6   Fitness        180 non-null    int64
 7   Income         180 non-null    int64
 8   Miles          180 non-null    int64
dtypes: int64(6), object(3)
memory usage: 12.8+ KB
Data types of each column:
 None

# Summary of observations:

- The dataset contains 180 rows and 9 columns.
- All columns have complete data (no missing values).
- There are both categorical (Product, Gender, MaritalStatus) and numerical columns (Age, Education, Usage, Fitness, Income, Miles).
- Data types are appropriate for analysis: integers for numerical features and objects for categorical features.

In [11]:
# Display the summary statistics of the dataset
print("Summary statistics of the dataset:\n", cardio_data.describe(include='all'))

Summary statistics of the dataset:
        Product         Age Gender   Education MaritalStatus       Usage  \
count      180  180.000000    180  180.000000           180  180.000000
unique       3         NaN      2         NaN             2         NaN
top      TM195         NaN   Male         NaN     Partnered         NaN
freq        80         NaN    104         NaN           107         NaN
mean       NaN   28.788889    NaN   15.572222           NaN    3.455556
std        NaN    6.943498    NaN    1.617055           NaN    1.084797
min        NaN   18.000000    NaN   12.000000           NaN    2.000000
25%        NaN   24.000000    NaN   14.000000           NaN    3.000000
50%        NaN   26.000000    NaN   16.000000           NaN    3.000000
75%        NaN   33.000000    NaN   16.000000           NaN    4.000000
max        NaN   50.000000    NaN   21.000000           NaN    7.000000

           Fitness         Income       Miles
count   180.000000     180.000000  180.000000
unique         NaN            NaN         NaN
top            NaN            NaN         NaN
freq           NaN            NaN         NaN
mean      3.311111   53719.577778  103.194444
std       0.958869   16506.684226   51.863605
min       1.000000   29562.000000   21.000000
25%       3.000000   44058.750000   66.000000
50%       3.000000   50596.500000   94.000000
75%       4.000000   58668.000000  114.750000
max       5.000000  104581.000000  360.000000

# From the summary statistics, we observe the following insights about the dataset:

- There are three treadmill products, with TM195 being the most popular.
- Customers' ages range from 18 to 50 years, with a mean age of about 29, which aligns with the typical driving age.
- The customer base is predominantly male.
- Most customers have a bachelor's degree, as indicated by the interquartile range that is 16 years of education.
- About 65% of customers have a partner.
- Customers typically use the treadmill 3-4 times per week.
- Most customers rate their fitness as "okay" or "good."
- The majority of customers have an income between $45,000 and $60,000.
- On average, customers expect to run or walk about 103 miles.