In [1]:
# load data

import kagglehub

# Download latest version
path = kagglehub.dataset_download("saurav9786/cardiogoodfitness")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/saurav9786/cardiogoodfitness?dataset_version_number=1...

100%|██████████| 1.66k/1.66k [00:00<00:00, 1.69MB/s]

Extracting files...
Path to dataset files: C:\Users\bashi\.cache\kagglehub\datasets\saurav9786\cardiogoodfitness\versions\1

In [2]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# Load the dataset
cardio_data = pd.read_csv(path + "/CardioGoodFitness.csv")

In [4]:
# Display the first 5 rows of the dataset
cardio_data.head(5)

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [8]:
# how big is the dataset?
print("Shape of the dataset:", cardio_data.shape)
# Display the data types of each column
print("Data types of each column:\n", cardio_data.info())

Shape of the dataset: (180, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        180 non-null    object
 1   Age            180 non-null    int64
 2   Gender         180 non-null    object
 3   Education      180 non-null    int64
 4   MaritalStatus  180 non-null    object
 5   Usage          180 non-null    int64
 6   Fitness        180 non-null    int64
 7   Income         180 non-null    int64
 8   Miles          180 non-null    int64
dtypes: int64(6), object(3)
memory usage: 12.8+ KB
Data types of each column:
 None